.quick-status {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quick-status .quick-cart {
  width: 45%;
}

.outlet-status {
  font-size: 14px;
  width: 45%;
  padding: 15px;
}

.homeBanner {
  display: none;
}

.categories-box {
  padding: 10px;
  display: flex;
  margin: 20px 0px;
  justify-content: space-around;
}

.category-item {
  width: 180px;
  height: 180px;
  padding: 15px;
  background: #f7f7f7;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.category-image {
  padding: 6px;
  background: #fff;
  border-radius: 50%;
}

.category-image img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.food-type-icon {
  width: 1110px;
}

.random-products {
  padding: 20px;
  background-color: #f9f9f9;
  overflow-x: auto;
  white-space: nowrap;
}

.product-grid {
  display: flex;
  gap: 15px;
}

.product-card {
  flex: 0 0 auto;
  width: 210px;
  border: 1px solid #ddd;
  background: #f6f8fc;
  border-radius: 16px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  margin: 0px 10px;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.product-card h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.product-card p {
  color: #555;
}

@media only screen and (max-width: 767px) {
  .quick-status {
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .quick-status .quick-cart {
    width: 100%;
  }

  .outlet-status {
    font-size: 14px;
    width: 100%;
    padding: 9px;
    margin: 3px 0px;
  }

  .d-flex.flex-row {
    margin: 10px 0;
  }

  .search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .search-box input {
    width: 85%;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 14px;
  }

  .search-box span {
    color: #888;
  }

  .homeBanner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .homeBanner img {
    width: 100%;
    border-radius: 10px;
  }

  .categories-box {
    padding: 10px;
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    justify-items: center;
  }

  .category-item {
    width: 140px;
    height: 140px;
    padding: 15px;
    background: #f7f7f7;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .category-image {
    padding: 6px;
    background: #fff;
    border-radius: 50%;
  }

  .category-image img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
}
