header {
  display: flex;
  justify-content: space-between;
  padding: 10px 18px;
  align-items: center;
  position: sticky;
  top: 0;
  background: #ecf0f3;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-brand a {
  font-size: 23px;
  font-weight: 600;
}
nav {
  margin-right: 30px;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  padding-right: 40px;
  font-size: 17spx;
  font-weight: 500;
  text-align: center;
}
.desktop-cart {
  position: relative;
}
.desktop-cart span {
  position: absolute;
  margin: 0;
  padding: 1;
  background: #ff004d;
  color: #fff;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  bottom: 17px;
  cursor: default;
}
a {
  text-decoration: none;
  color: #000;
}
ul li img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
ul li .active {
  border-bottom: 2px solid #ff004d;
  padding-bottom: 5px;
  color: #ff004d;
}

@media (max-width: 768px) {
  .home-top {
    background: linear-gradient(to bottom, #f2ebed, #f8ebee);
    padding-bottom: 6px;
  }

  .navbar {
    width: 100%;
    background-color: #fff;
    z-index: 9999;

  }
  ul {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    margin: 40;
    width: 100%;
    background: #fff;
    height: 80px;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1); 
  }
  ul li .active {
    color: #ff004d;
    border-bottom: unset;
    padding-bottom: unset;
  }

  .mobile-cart {
    position: relative;
  }
  .mobile-cart span {
    position: absolute;
    margin: 0;
    padding: 1;
    background: #ff004d;
    color: #fff;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    bottom: 21px;
    left: 18px;
    cursor: default;
  }
  .navbar a {
    text-decoration: none;
    padding: 0;
    font-size: 10px;
  }
  .nav-item {
    margin-left: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #505050;
  }
  .nav-item span {
    /* font-size: 10px; */
  }
  .nav-item p {
    font-size: 10px;
  }

  ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 7px;
  }
}
